<div class="main-container d-flex justify-content-center align-items-center" style="min-height: 80vh; width: 100%;">
    <h1 class="card-header">Dear {{email}} I am Creating your CV please wait.....</h1>
</div>