<style>
    .index-container {
        background-color: #f3f3f3;
        border-radius: 20px;
        padding: 20px;
        height: 100%;
        min-height: 100vh;
    }

    .card {
        border: 1px solid white;
        border-radius: 10px;
        transition: transform 0.2s;
        width: 300px;
        height: 400px;
    }

    .card:hover {
        cursor: pointer;
    }

    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        text-align: center;
    }

    .index-loading-container {
        opacity: 0;
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0C0603;
        display: grid;
        place-content: center;
        z-index: 999;
        transition-property: opacity;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }

    .fullscreen-loader {
        width: 60px;
        height: 60px;
        border: 5px solid green;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        animation: .5s ease infinite alternate spinner2;
    }

    @keyframes spinner2 {
        form {
            transform: rotate(360deg) scale(1);
        }

        to {
            transform: rotate(1turn) scale(1.6);
        }
    }


    .card {
        position: relative;
        overflow: hidden;
    }

    .image-placeholder {
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: white;
        top: 0;
        left: 0;
        display: grid;
        place-content: center;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;

    }

    .image-loader {
        width: 60px;
        height: 60px;
        border: 5px solid green;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        animation: .5s ease infinite alternate spinner;
    }

    .card-body a {
        padding: 10px 20px;
        margin: 2px;
        transition-property: padding;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }

    .card-body a:hover {
        padding: 15px 30px;
    }

    .card-img-top {
        transition-property: scale;
        transition-duration: .25s;
        transition-timing-function: ease-in-out;
    }

    .card:hover .card-img-top {
        scale: 1.2;
    }
</style>

{{!-- <div class="index-loading-container d-flex justify-content-center align-items-center">
    <div class="fullscreen-loader">

    </div>

</div> --}}

<div class="index-container w-100 my-3 d-flex flex-wrap gap-3 justify-content-center">

    {{!-- personal information --}}
    <div class="card">
        <img src="/Images/personal_information.png" class="card-img-top" alt="...">
        <div class="image-placeholder" id="image-placeholder">
            {{!-- <div class="image-loader" id="image-loader">

            </div> --}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Personal Information</h5>
            <p class="card-text">Fill all required personal information to get trust easily form employers </p>
            <a href="basicInformation" class="btn btn-primary"> Personal Information ...</a>
        </div>
    </div>

    {{!-- education --}}
    <div class="card">
        <img src="/Images/education.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">With out Education, it is difficult to be appointed for further step. So, Add your
                Education HERE.</p>
            <a href="education" class="btn btn-primary"> Educations</a>
        </div>
    </div>

    {{!-- experience --}}
    <div class="card">
        <img src="/Images/experience.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <p class="card-text">Add your all of your relevant Experiences to be visible to employers.</p>
            <a href="experience" class="btn btn-primary"> Experiences</a>
        </div>
    </div>

    {{!-- languages --}}
    <div class="card">
        <img src="/Images/languages.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Language</h5>
            <p class="card-text">Being multiple language speaker has more chance to get job. List all of languages you
                know with it's level.</p>
            <a href="languages" class="btn btn-primary"> Languages</a>
        </div>
    </div>

    {{!-- reference --}}
    <div class="card">
        <img src="/Images/reference.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">References</h5>
            <p class="card-text">Always it is better to have reference who knows you very well, to express you in the
                way that gives you better chance for further assessement</p>
            <a href="reference" class="btn btn-primary"> References</a>
        </div>
    </div>

    {{!-- hobbies --}}
    <div class="card">
        <img src="/Images/hobbies.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hobbies</h5>
            <p class="card-text">Hobbies are optoinal to have on cv or resume. Just add some to let the Hiring Managers
                knows you more.</p>
            <a href="hobbies" class="btn btn-primary"> Hobbies</a>
        </div>
    </div>

    {{!-- My CV --}}
    <div class="card">
        <img src="/images/SPRK_default_preset_name_custom – 1.png" alt="CV Generator Logo" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">MY CV</h5>
            <p class="card-text">Get Your CV Here</p>
            <a href="createCV" class="btn btn-primary">Go to...</a>
        </div>
    </div>

</div>